@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

h1,
h2,
h3,
h3,
h5,
h6 {
  font-family: "Acme", sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: lightblue;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}

td {
  border: 1px solid blue;
  padding: 5px;
}
header {
  background-color: #fff;
  height: 170px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header h1 {
  color: #dbecf8;
  text-shadow: 2px 2px black;
  font-size: 50px;
  z-index: 10;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header img {
  width: 300px;
}

.hero-banner {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about-us h2 {
  font-size: 30px;
  color: #dbecf8;
  text-shadow: 2px 2px black;
  margin-bottom: 50px;
  text-align: center;
}

.about-us p {
  font-size: 30px;

  margin-bottom: 50px;
  text-align: center;
}

.menu {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.menu h2 {
  font-size: 30px;
  color: #dbecf8;
  text-shadow: 2px 2px black;
  margin-bottom: 50px;
  text-align: center;
}

.product-img {
  height: 200px;
  width: 300px;
  margin-left: 20%;
}

footer {
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}

footer div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.contact-us {
  margin-left: 30%;
  margin-top: 3%;
}

.copyright {
  margin-left: 40%;
  margin-top: 5%;
}

.locations-box h2 {
  font-size: 30px;
  color: #dbecf8;
  text-shadow: 2px 2px black;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 2%;
}

.locations-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
