@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

h1,
h2,
h3,
h3,
h5,
h6 {
  font-family: "Acme", sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#cookies-per-hour {
  font-family: Arial, Helvetica, sans-serif;
}
#cookies-per-hour h2 {
  border-bottom: thin solid #0d68ad;
  text-transform: capitalize;
  display: inline-block;
  margin: 8px;
}
#cookies-per-hour li {
  list-style-type: disc;
  padding-bottom: 2px;
  margin-left: 10px;
}
#cookies-per-hour div {
  border: thin solid #0d68ad;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
body {
  background-color: #bbbbbd;
}
header {
  background-color: black;
  height: 170px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 100%;
}
header h1 {
  color: #dbecf8;
  text-shadow: 2px 2px red;
  font-size: 50px;
  z-index: 10;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-image {
  z-index: 0;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
main {
  padding-bottom: 10px;
}
footer {
  color: #fff;
  background-color: black;
  padding: 10px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div {
  display: inline-block;
  vertical-align: text-top;
}
footer p {
  font-size: 12px;
}
.footer-title {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 1px;
}
.footer-left {
  width: 50%;
  padding-top: 15px;
  padding-left: 40px;
  position: fixed;
  right: 0;
}
.footer-middle {
  padding-right: 50px;
}
#sales-table {
  margin: 20px 0px 50px 20px;
}
#sales-table td {
  padding: 8px;
  text-align: center;
  border: thin solid #6c6c6c;
  text-transform: capitalize;
}
.table-titles th {
  padding: 8px 8px 12px 8px;
  font-weight: bold;
  word-wrap: normal;
  vertical-align: bottom;
}
.cross-store-totals th {
  padding: 8px;
  text-align: center;
  border: thin solid #6c6c6c;
  text-transform: capitalize;
}
